<%- model_class = Course -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= simple_form_for @quiz_answer, html: {id: 'word-form'} do |f|  %>
<div class="word-list">
  <%= f.simple_fields_for :quiz_answer_items do |item_form| %>
    <%= item_form.input_field :word_id, :as => :hidden %>
    <%= item_form.input :name, label: item_form.object.content, wrapper_html: { answer: item_form.object.name_tmp, id: item_form.object.word_id } %>
  <% end -%>
</div>
<div>
  <%= f.button :submit %>
</div>
<% end -%>

<% content_for :script do -%>
<script>
$(function(){
  if($(location.hash).size() > 0){
    $(location.hash).addClass("current");
  }else{
    $(".word-list div:first").addClass("current");
  }
  $("#word-form").submit(function(){
    $(".word-list .current span.error").remove();
    if($(".word-list .current input").val() != $(".word-list .current").attr("answer")){
      $(".word-list .current input").focus().after("<span class='error'>拼写错误</span>");
    }else if($(".word-list .current").is(".word-list div:last")){
       return true;
    }else{
      $(".word-list .current").removeClass("current").next().next("div").addClass("current");
      $(".word-list .current input").focus();
    }
    return false;
    // location.hash = "#" + $(".word-list .current").attr("id");
  });
});
</script>
<% end -%>
