<%- model_class = Course -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= form_tag("", id: "word-form") do %>
<div class="word-list">
  <% @words.each do |word| %>
    <dl>
      <dt><%= word.content %></dt>
      <dd><%= text_field_tag :name %></d>
    </dl>
  <% end %>
  
  <div><%= submit_tag "提交" %></div>
</div>
<% end -%>

<% content_for :script do -%>
<script>
$(function(){
  $(".word-list dl:first").addClass("current");
  $("#word-form").submit(function(){
    $(".word-list .current");
    $(".word-list .current").removeClass("current");
    return false;
  });
  // alert(location.hash);
});
</script>
<% end -%>
