<%- model_class = Course -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= form_tag("", id: "word-form") do %>
<div class="word-list">
  <% @words.each do |word| %>
    <dl id="<%= word.id %>" answer="<%= word.name %>">
      <dt><%= word.content %></dt>
      <dd><%= text_field_tag :name %></d>
    </dl>
  <% end %>
  
  <div><%= submit_tag "提交" %></div>
</div>
<% end -%>

<% content_for :script do -%>
<script>
$(function(){
  if($(location.hash).size() > 0){
    $(location.hash).addClass("current");
  }else{
    $(".word-list dl:first").addClass("current");
  }
  $("#word-form").submit(function(){
    $(".word-list .current span.error").remove();
    if($(".word-list .current").is("dl:last")){
      
    }else{
      if($(".word-list .current input").val() == $(".word-list .current").attr("answer")){
        $(".word-list .current").removeClass("current").next().addClass("current");
        $(".word-list .current input").focus();
      }else{
        $(".word-list .current input").focus().after("<span class='error'>拼写错误</span>");
      }
      // location.hash = "#" + $(".word-list .current").attr("id");
      return false;
    }
  });

});
</script>
<% end -%>
